@using MyHotelManager.Common
@model IEnumerable<MyHotelManager.Web.ViewModels.Rooms.RoomViewModel>

@{
    this.ViewData["Title"] = "Rooms";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Rooms</h1>
</div>

<div class="row">
    @foreach (var room in Model)
    {
        <div class="col-xl-3 col-md-6 mb-4" title="@room.Description">
            <div class="card border-left-primary border-bottom-primary shadow h-100 py-1">
                <div class="card-header border-bottom-primary">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div class="h3 font-weight-bold text-primary text-uppercase">@room.Number</div>
                        </div>
                        @if (this.User.IsInRole(GlobalConstants.ManagerRoleName))
                        {
                            <div class="col-md-6">
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-circle-down fa-2x text-primary" title="More options"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in p-3" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">More options:</div>
                                        <a asp-controller="Rooms" asp-action="Update" asp-route-roomId="@room.Id" class="btn btn-warning btn-icon-split w-100 mb-2">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <span class="text dropdown-item">Update</span>
                                        </a>
                                        <a class="btn btn-danger btn-icon-split w-100" data-toggle="modal" data-target="#tips-@room.Id">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash text-white"></i>
                                            </span>
                                            <span class="text dropdown-item">Delete</span>
                                        </a>
                                    </div>
                                    <div class="modal fade" id="tips-@room.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-danger">Select "Delete" below if you want to remove a room.</div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                    <form class="form-inline" asp-action="Delete" asp-controller="Rooms" asp-route-roomId="@room.Id">
                                                        <button type="submit" class="btn btn-danger">Remove</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body border-bottom-primary">
                    <div class="card bg-primary text-white shadow mb-3 rounded-pill">
                        <div class="card-body text-center">
                            <p class="text-center align-text-bottom h6 mb-0 font-weight-bold">@room.RoomTypeName</p>
                            <p class="text-center align-text-bottom h6 mt-0">@room.Price / night</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <div class="svg-inline--fa">
                                <i class="fas fa-male text-primary"></i>
                                <i class="fas fa-female text-primary"> x @room.MaxAdultCount</i>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <i class="fas fa-child text-primary"> x @room.MaxChildCount</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>