@model MyHotelManager.Web.ViewModels.Rooms.AvailableRoomsViewModel

@{

    this.ViewData["Title"] = "New Room";
}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="p-4">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Search from Period!</h1>
                        </div>
                        <form class="user" method="post">
                            <div class="form-group row was-validated">
                                <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                                    <label asp-for="From"></label>
                                    <input type="date" asp-for="From" class="form-control form-control-user is-invalid" id="exampleRoomNumber" placeholder="Room Number" required>
                                    <span asp-validation-for="From" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <label asp-for="To"></label>
                                    <input type="date" asp-for="To" class="form-control form-control-user is-invalid" id="exampleRoomPrice" placeholder="Room Price" required>
                                    <span asp-validation-for="To" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Rooms.Any())
{
    <div class="row">
        @foreach (var room in Model.Rooms)
        {
            <div class="col-md-2 mb-4" title="@room.Description">
                <div class="card border-left-primary border-bottom-primary shadow h-100 py-1">
                    <div class="card-header border-bottom-primary">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="h3 font-weight-bold text-primary text-uppercase">@room.Number</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dropdown no-arrow float-right">
                                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-circle-down fa-2x text-primary" title="More options"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in p-3" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">More options:</div>
                                        <a asp-controller="Reservations" asp-action="Create" class="btn btn-success btn-icon-split w-100 mb-2">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <span class="text dropdown-item">New Reservation</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-bottom-primary">
                        <div class="card bg-primary text-white shadow mb-3 rounded-pill">
                            <div class="card-body text-center">
                                <p class="text-center align-text-bottom h6 mb-0 font-weight-bold">@room.RoomType.Name</p>
                                <p class="text-center align-text-bottom h6 mt-0">@room.Price / night</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6 text-right">
                                <div class="svg-inline--fa">
                                    <i class="fas fa-male text-primary"></i>
                                    <i class="fas fa-female text-primary"> x @room.MaxAdultCount</i>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <i class="fas fa-child text-primary"> x @room.MaxChildCount</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}