@model IEnumerable<MyHotelManager.Web.ViewModels.Reservations.ReservationViewModel>

@{
    this.ViewData["Title"] = "Reservations";
}


<div class="accordion " id="accordionExample">
    @{
        foreach (var reservation in Model)
        {
            <div class="card">
                <div class="card-header" id="@reservation.Id">
                    <h2 class="mb-0">
                        <button class="btn btn-dark btn-block text-left" type="button" data-toggle="collapse" data-target="#@reservation.Id" aria-expanded="true" aria-controls="">
                            <span class="col-md-5 float-left">@reservation.Room.Number</span>
                            <span class="col-md-5 float-none">Petar Hadjiev</span>
                            <span class="col-md-2 float-right">@reservation.ArrivalDate.ToString("dd.MM.yyyy")</span>
                        </button>
                    </h2>
                </div>
                <div id="@reservation.Id" class="collapse" aria-labelledby="@reservation.Id" data-parent="#accordionExample">
                    <div class="card-body">
                        <a class="btn btn-success btn-lg col-md-4 float-left">Register</a>
                        <a class="btn btn-info btn-lg col-md-4 float-none">Update</a>
                        <a class="btn btn-danger btn-lg col-md-4 float-right ">Remove</a>
                    </div>
                </div>
            </div>
        }
    }
</div>